.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    width: 150px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
}
  
.avatar {
    padding-left: 20px;
    border-radius: 50%;
}
  
.name {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.status__online {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00CF91;
}

.status__offline {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FF005C;
}